.idea/
pizza.shop.components/
.phpunit.result.cache
*.env
vendor/
#projet phpStorm
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.iml
# Log file
*.log
.idea/*
*.idea/
rabbitmq.pizza-shop

#conf
vendor
composer.lock


# Miscellaneous
*.class
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.config
/rabbitmq.pizza-shop/.erlang.cookie
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/74DOVIXTPNYRJFP3JN55SL3PR/.queue_name
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/.vhost
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/0.rdq
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/0.rdq
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/coordination/rabbit@0928fa21f755/00000008.wal
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/quorum/rabbit@0928fa21f755/00000008.wal
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/clean.dot
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/clean.dot
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/cluster_nodes.config
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/file_summary.ets
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/file_summary.ets
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/queues/74DOVIXTPNYRJFP3JN55SL3PR/journal.jif
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/coordination/rabbit@0928fa21f755/meta.dets
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/quorum/rabbit@0928fa21f755/meta.dets
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_persistent/msg_store_index.ets
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/msg_store_transient/msg_store_index.ets
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/coordination/rabbit@0928fa21f755/names.dets
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/quorum/rabbit@0928fa21f755/names.dets
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/node-type.txt
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/nodes_running_at_shutdown
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755-feature_flags
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/rabbit_durable_exchange.DCD
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/rabbit_durable_queue.DCD
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/rabbit_durable_route.DCD
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/rabbit_runtime_parameters.DCD
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/rabbit_serial
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/rabbit_topic_permission.DCD
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/rabbit_user.DCD
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/rabbit_user_permission.DCD
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/rabbit_vhost.DCD
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/msg_stores/vhosts/628WB79CIFDYO9LJI6DKMI09L/recovery.dets
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/schema.DAT

/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/coordination/rabbit@0928fa21f755/00000010.wal
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/quorum/rabbit@0928fa21f755/00000010.wal
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755.pid
/rabbitmq.pizza-shop/mnesia/rabbit@0928fa21f755/rabbit_durable_queue.DCL
/Documentation/~$Routes.docx
/service-dir/node_modules/*
rabbitmq.pizza-shop/mnesia
rabbitmq.pizza-shop/.erlang.cookie